@page "/edituser/{id:int}"

@using StudentManagementWeb.Services



<h1>Edit User</h1>

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{

<EditForm Model="@user" OnValidSubmit=@OnUpdate>
    <div class="form-group">
        <input class="form-control" @bind=@user.FirstName>
    </div>
    <div class="form-group">
        <input class="form-control" @bind-value=@user.LastName>
    </div>
    <div class="form-group">
        <input class="form-control" @bind-value=@user.Email>
    </div>
    <div class="form-group">
        <input class="form-control" @bind-value=@user.Role disabled>
    </div>
    <div class="form-group">
        <InputFile class="form-control" OnChange="GetFile" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</EditForm>



}
