@page "/edituser"

@using StudentManagementWeb.Data
@using StudentManagementWeb.Services

@inject UserService UserService

<h1>Users Data</h1>


   <div class="input-group mb-3">
       <input class="form-control" value=@user.firstName>
        </div>
       <div class="input-group mb-3">
       <input class="form-control" value=@user.firstName>
        </div>
       <div class="input-group mb-3">
       <input class="form-control" value=@user.firstName>
        </div>
       <div class="input-group mb-3">
       <input class="form-control"  value=@user.firstName>
        </div>
   


@code {
    private User user;

    protected override async Task OnInitializedAsync()
    {

        user = await UserService.GetUser(1000);
    }
}
